<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Your recent TinyURLs</h5>
    <p class="card-text">With a free account you may create as many URLs as you wish and see all the TinyURLs you have created. Without an account you will see the 5 most recent you created.</p>
    <p class="card-text"> <%= @url.domain %> </p>
    <%= link_to 'Go to page', redirect_path(@url.token), class: "btn btn-primary"%> 
  </div>
</div>